.venv
data/confirmed_lightcurve_processed.zip
data/false_lightcurve_processed.zip
/mastDownload
/random_TIC_for_testing
data/confirmed_lightcurves
data/false_lightcurves
data/validation_lightcurves/confirmed_validation
data/validation_lightcurves/false_validation
data/validation_lightcurves/other_confirmed
models
data/confirmed_feature_engineered.csv
data/false_feature_engineered.csv
